<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/css/reset.css" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <!-- iconos de bootstrap-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />

    <title>Dulce pan</title>
  </head>

  <body>
    <header>
      <!-- CABECERA -->
      <!-- CABECERA-LOGO -->
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/index.html">
            <img
              src="./public/img/logo/Logo.png"
              alt="logo"
              width="120"
              height="70"
            />
          </a>
          <!-- CABECERA-NAVEGADOR -->

          <div class="navbar d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link nuestros-productos" href="/index.html"
                  >Nuestros productos</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link quienes-somos" href="./somos.html"
                  >¿Quienes somos?</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link contactenos" href="./contactenos.html"
                  >Contactenos</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <!-- PRINCIPAL -->
      <!-- HERO -->
      <div class="container-fluid p-0">
        <div class="row justify-content-center align-items-center hero">
          <div class="col-md-12">
            <h1>Panaderia y confiteria "Dulce pan"</h1>
          </div>
        </div>
      </div>
      <section id="quienes-somos">
        <!-- TITULO -->
        <div
          class="titulo-de-seccion container-fluid row contenedor-product justify-content-center p-4"
        >
          <h2>¿Quienes somos?</h2>
        </div>

        <!-- HISTORIA -->

        <div class="b-color container-fluid">
          <div class="row contenedor-product justify-content-center p-3">
            <div
              class="col-md-6 m-5 p-3 order-1 d-flex align-items-center text-justify"
            >
              <p>
                Somos una panadería comprometida con la calidad y el sabor de
                nuestros productos. Desde nuestra fundación, hemos trabajado
                arduamente para brindar a nuestros clientes el pan más fresco y
                delicioso posible. <br />

                Nuestro equipo está formado por panaderos y pasteleros
                experimentados que comparten nuestra pasión por la panadería y
                la repostería. Todos nuestros productos se elaboran diariamente
                con los mejores ingredientes, cuidadosamente seleccionados y
                preparados con atención al detalle. <br />

                En nuestra panadería, ofrecemos una amplia variedad de
                productos, desde panes artesanales y bollos hasta pasteles y
                tartas. También ofrecemos opciones para aquellos con necesidades
                dietéticas especiales, como pan sin gluten y sin lactosa. Nos
                esforzamos por proporcionar un servicio amable y profesional a
                todos nuestros clientes, y nos enorgullece ser parte de su vida
                cotidiana. <br />
                Esperamos seguir siendo su panadería de confianza durante muchos
                años más. <br /><br />

                Esta página web fue creada por Silvia, alumna del del curso
                "Programación Web Front End - AULA 2 - Potrero digital"; con el
                fin de llevar a cabo la consigna del trabajo final. Aún hay
                mucho que mejorar, mucho que aprender.
              </p>
            </div>

            <div class="col-md-3 p-3">
              <img
                class="w-100 mt-5 border border-secondary"
                src="/public/img/img-quienes-somos.jpeg"
                alt="img"
              />
              <img
                class="w-100 mt-5 border border-secondary"
                src="/public/img/img-quienes-somos2.jpeg"
                alt="img"
              />
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- FOOTER -->

    <div class="footer d-flex" id="footer">
      <!-- Contenedor -->
      <div class="container m-2">
        <!-- CONTENEDOR DE UNA FILA -->
        <div class="row d-flex m-3">
          <!-- FILA CON DOS COLUMNAS -->
          <div class="colum1 col-6">
            <!-- COLUMNA 1 CON LAS REDES -->
            <div class="row m-3">
              <h3>- Nuestras redes -</h3>
            </div>
            <div class="row d-flex">
              <div class="col-3 d-flex icon">
                <!-- Facebook -->
                <a
                  class="btn btn-primary btn-lg btn-floating m-3"
                  href="#!"
                  role="button"
                  href="#"
                >
                  &#xF618;</a
                >

                <!-- Instagram -->
                <a
                  class="btn btn-primary btn-lg btn-floating m-3"
                  href="#!"
                  role="button"
                  href="#"
                  >&#xF437;</a
                >

                <!-- Whatsapp -->
                <a
                  class="btn btn-primary btn-lg btn-floating m-3"
                  href="#!"
                  role="button"
                  href="#"
                  >&#xF344;</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="titulo-de-seccion container-fluid row contenedor-product justify-content-center mr-5 pr-5"
      >
        <div class="col-md-3">
          <div
            class="contenedor-informacion d-flex flex-column align-items-center justify-content-between icon"
          >
            <p>
              <span class="info-destacada">Horarios</span>
            </p>

            <p>Lunes: Cerrado</p>

            <p>De Martes a Domingo</p>
            <p>Por la mañana 8 a 13:30</p>
            <p>Por la tarde 16:30 a 9:00</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container final">
      <div class="fin row d-flex justify-content-center">
        Desarrollado por Silvia Giardini
      </div>
    </div>
  </body>
</html>
